.startButton {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: -10px;
  z-index: 2;
}

@media (max-width: 800px) {
  .startButton img {
    width: 216px;
  }
}

@media (max-width: 400px) {
  .startButton img {
    width: 180px;
  }
}
