.coinBag {
  width: 196px;
  height: 207px;
  position: absolute;
  align-self: flex-end;
  right: -120px;
  bottom: 20px;
}

@media (max-width: 800px) {
  .coinBag {
    width: 123px;
    height: 130px;
    right: -70px;
    bottom: 10px;
  }
}

@media (max-width: 400px) {
  .coinBag {
    width: 88px;
    right: -40px;
    bottom: 10px;
  }
}
