.cardItem {
  position: relative;
  perspective: 1000px;
}

.cardItem button {
  position: absolute;
  left: 50%;
  translate: -50%;
  backface-visibility: hidden;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.6s ease;
}

.front {
  width: 135px;
  height: 140px;
  transform: rotateY(0);
}
.back {
  width: 135px;
  height: 140px;
  transform: rotateY(180deg);
}

.cardItem:global(.cardOpened) .front {
  transform: rotateY(180deg);
}

.cardItem:global(.cardOpened) .back {
  transform: rotateY(0);
}

.cardOpenedResult {
  width: 108px;
  height: 101px;
}
