.cardItem > button {
  cursor: pointer;
  background: none;
  border: none;
}

.card,
.card {
  width: 135px;
  height: 140px;
}

.cardOpened {
  pointer-events: none;
}

.cardOpenedResult {
  width: 108px;
  height: 101px;
}
