.playAgain {
  width: 345px;
  height: 105px;
  display: block;
  margin: auto;
  margin-top: 60px;
  border: none;
  cursor: pointer;
  z-index: 3;
  position: relative;
  background: none;
}

.gameOver {
  display: grid;
}

@media (max-width: 800px) {
  .playAgain {
    margin-top: 30px;
  }
  .playAgain img {
    width: 216px;
  }
  .gameOverImage {
    width: 280px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .playAgain {
    margin-top: 20px;
  }
  .playAgain img {
    width: 180px;
  }
  .gameOverImage {
    width: 240px;
    margin: 0 auto;
  }
}
