.playAgain {
  background: url("../../assets/play-again.svg");
  width: 345px;
  height: 105px;
  display: block;
  margin: auto;
  margin-top: 60px;
  border: none;
  cursor: pointer;
  z-index: 3;
  position: relative;
}

.winner {
  background: url("../../assets/play-again.svg");
}

.loser {
  background: url("../../assets/try-again.svg");
}
