.boardGame {
  height: 700px;
  max-width: 560px;
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 60px;
}

.boardGame img:nth-child(2) {
  position: absolute;
  z-index: 2;
  top: -25px;
  left: 50%;
  translate: -50%;
}

@media (max-width: 800px) {
  .boardGame {
    height: 450px;
  }

  .boardGame img:nth-child(2) {
    top: -15px;
  }
}

@media (max-width: 400px) {
  .boardGame {
    height: 420px;
  }

  .boardGame img:nth-child(2) {
    top: -15px;
  }
}
