.boardGame {
  height: 700px;
  display: flex;
  position: relative;
  z-index: 1;
}

.boardGame img:nth-child(2) {
  position: absolute;
  z-index: 2;
  top: -45px;
  left: 50%;
  translate: -50%;
}
